$primary-font: "Roboto", sans-serif;
$primary-color: #363232;
$secondary-color: #fa2828;
$tertiary-background-color: #c4c4c4;
$card-color: #4d4747;
$primary-text-color: #ffffff;
$secondary-text-color: #988f8f;
$tertiary-text-color: #e5e5e5;
$primary-accent-color: #ff5252;
